@charset "utf-8";

/* CSS Document */


/*公共部分*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    color: #666;
    font-size: 62.5%;
    font-family: "Century Gothic", "Microsoft YaHei", "SimSun", "Segoe UI", "Times New Roman";
}

a {
    color: #666;
    text-decoration: none;
    border: 0;
}

a:hover {
    text-decoration: none;
    border: 0;
}

a {
    outline: none;
}

:focus {
    outline: 0;
}

img {
    border: 0
}

li {
    list-style: none
}

.clear {
    clear: both;
}


/*旋转动画特效*/

@-webkit-keyframes btnRotate {
    0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -moz-transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
    }
}

@-webkit-keyframes btnRotate1 {
    0% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
        -moz-transform: rotateZ(360deg);
    }
}

.rotateFox1 {
    animation: btnRotate1 1.5s linear;
    -webkit-animation: btnRotate1 1.5s;
}

.rotateFox {
    animation: btnRotate 1.5s linear;
    -webkit-animation: btnRotate 1.5s;
}


/*头部*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #2aabe6;
    z-index: 99;
}

.header a {
    color: #fff;
    font-size: 14px;
    line-height: 60px;
}

.header-box {
    position: relative;
    width: 710px;
    margin: 0 auto;
    padding: 0 70px 0 220px;
}

.header .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 132px;
    height: 60px;
    background: url("../img/logo.png") center no-repeat;
}

.header .login {
    position: absolute;
    right: 0;
    top: 17px;
    width: 70px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    background: #51b9e8;
    border-radius: 13px;
}

.h-nav ul {
    font-size: 0;
}

.h-nav li {
    display: inline-block;
    width: 104px;
    vertical-align: top;
    text-align: center;
}

.h-nav li:hover {
    background: #27a0d8;
}

.h-nav li:hover a {
    color: #89daff !important;
}

.h-nav a {
    display: block;
    width: 90px;
    padding-left: 14px;
}

.h-nav .more a:hover {
    color: #fff !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.course {
    position: relative;
}

.course .more {
    display: none;
    position: absolute;
    padding: 4px 0 8px;
    background: #27a0d8;
}

.course .more a {
    line-height: 36px;
}

.banner {
    height: 538px;
    background: #2bb0ed;
    padding-top: 60px;
    text-align: center;
    position: relative;
}

.box1 {
    font-size: 0;
    text-align: center;
}

.box1 li {
    display: inline-block;
    width: 364px;
    padding: 42px 0;
}

.box1 p {
    padding-top: 24px;
    font-size: 28px;
    line-height: 32px;
}

.footer {
    background: #3b434a;
    width: 100%;
    padding: 58px 0 26px;
    float: left;
    font-size: 14px;
}

.foot-con {
    width: 1220px;
    margin: 0 auto;
    height: 242px;
}

.f-l {
    width: 70%;
    float: left;
}

.f-r {
    width: 30%;
    float: right;
}

ul.f-nav {
    width: 100%;
    overflow: hidden;
    line-height: 36px;
}

ul.f-nav li {
    width: 33%;
    float: left;
}

ul.f-nav li p {
    font-size: 16px;
    color: #fff;
}

ul.f-nav li a {
    display: block;
    color: #aaaaaa;
    font-size: 13px;
}

.footer .cp {
    color: #74787c;
    font-size: 12px;
    padding-top: 46px;
}

.footer .cp a {
    color: #a9a9a9;
}

.footer .f-con {
    line-height: 50px;
    color: #9e9e9e;
    font-size: 13px;
    padding-bottom: 12px;
    border-bottom: #333a40 solid 1px;
}

.footer .f-con a,
.footer .f-downl a {
    color: #9e9e9e;
    padding: 0 20px 0 35px;
    display: inline-block;
}

.footer .f-ph {
    background: url(http://source.aigegou.com/img/foot-icon.png) 0 -232px no-repeat;
    padding-left: 35px;
}

.footer .f-weixin {
    background: url(http://source.aigegou.com/img/foot-icon.png) 0 -309px no-repeat;
    position: relative;
}

.f-weixin .code {
    position: absolute;
    bottom: 50px;
    height: 158px;
    background: #fff;
    left: -18px;
    border: red solid 2px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: none;
}

.f-weixin .code .arrow {
    right: 50%;
    margin-right: -9px;
    position: absolute;
    bottom: -16px;
    width: 18px;
    height: 16px;
    background: url(http://source.aigegou.com/img/arrow_bg.png) center bottom no-repeat;
}

.footer .f-weibo {
    background: url(http://source.aigegou.com/img/foot-icon.png) 0 -384px no-repeat;
}

.footer .f-qq {
    background: url(http://source.aigegou.com/img/foot-icon.png) 0 -461px no-repeat;
}

.footer .f-downl {
    line-height: 50px;
    font-size: 13px;
    padding-top: 12px;
}

.footer .f-downl a {
    color: #d2d2d2;
}

.footer .f-an {
    background: url(http://source.aigegou.com/img/foot-icon.png) 0 -513px no-repeat;
}

.footer .f-ip {
    background: url(http://source.aigegou.com/img/foot-icon.png) 0 -563px no-repeat;
}

.m-foot-con {
    display: none;
}

.go_up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: none;
}

.go_up a {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: url(http://source.aigegou.com/img/arrow_up_w.png) center center no-repeat #333;
    background-size: 50% auto;
    opacity: 0.8;
}

.go_up a:hover {
    background: url(http://source.aigegou.com/img/arrow_up_w.png) center center no-repeat #000;
    background-size: 50% auto;
}

.main-show {
    width: 100%;
    background: #eef1f2;
}

.main-show ul li {
    height: 360px;
}

.main-show ul li .left {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.main-show ul li .right {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.main-show-contain {
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.main-show ul li:nth-child(2n) {
    background: #fff;
}

.hot {
    background: #edeff0;
}

.hot-title {
    padding: 20px 0 30px 0;
    text-align: center;
    color: #2aabe6;
    font-size: 28px;
    font-family: '微软雅黑';
}

.hot-class {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.hot-class ul li {
    width: 240px;
    height: 215px;
    float: left;
    margin: 0 5px 20px 5px;
    background: #f9f9f9;
    border-left: 1px solid #dddfe0;
    border-right: 1px solid #dddfe0;
    box-shadow: 0px 1px 2px #c3c5c6;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    position: relative;
}

.hot-class-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    height: 70px;
    width: 100%;
    background: #fff;
}

.hot-class-footer p {
    padding-top: 10px;
    height: 20px;
    line-height: 20px;
}

.hot-class-footer p:nth-child(1) {
    color: #666;
    font-size: 14px;
}

.hot-class-footer p:nth-child(2) {
    color: #999;
    font-size: 12px;
}

.clear {
    clear: both;
}

.hot-class-img {
    position: relative;
    height: 145px;
    width: 238px;
    padding: 0 1px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.hot-class-img img {
    width: 100%;
}

.hci-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.banner-show {
    display: none;
}

#banner-ul {
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -15px;
}

#banner-ul li {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 4px;
    float: left;
}

.li-on {
    background: #1f88b8 !important;
}

#banner-ul li:nth-child(2) {
    margin-left: 14px;
}

.land {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
}

.land-content {
    width: 350px;
    height: 250px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -175px;
    margin-top: -125px;
    background: #fff;
}

.lc-title {
    height: 44px;
    width: 100%;
    line-height: 44px;
    color: #888;
    font-weight: bolder;
    font-family: '微软雅黑';
    font-size: 16px;
    text-align: center;
    background: #f0f0f0;
    border-bottom: 1px solid #bbb;
    position: relative;
}

.close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
    background-image: url('../img/close.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.lc-main p {
    width: 100%;
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-top: 20px;
}

.lc-main p input {
    height: 30px;
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 50%;
}

.lcm-span {
    margin-right: 1em;
}

.lcm-land {
    width: 30% !important;
    margin-left: 35%;
    height: 36px;
    line-height: 36px;
    background: #86c744;
    color: #fff !important;
    text-align: center;
    border-radius: 3px;
}
.online-school {
    position: fixed;
    top:60px;
    right:0;
    width: 280px;
    height:192px;
    z-index: 100;
    border-radius: 5px;
    overflow: hidden;
}
.online-school img {
    width: 100%;
    height:100%;
}
.online-school span{
    width:30px;
    line-height:30px;
    position:absolute;
    top:0;right:0;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    color:#fff;
}