*{
margin:0;
padding:0;
font-family:"微软雅黑";
text-align:left; 
}
 
a{
text-decoration:none;
color:#000000;
 
}

img{
border:none;
}

#header{
width:100%;
height:45px;
background:#222327;
min-width:1000px;
color:#FFFFFF;
font-size:14px;
position:relative;
}

#header_left{
float:left;
width:300px;
height:45px;
margin-left:100px;
 
background:url(../images/call.png) no-repeat;
background-position:10% 50%;
line-height:45px;
text-align:center;
}

#header_right{
float:right;
width:400px;
height:45px;
 
}

#header_right ul{
width:100%;
height:45px;
list-style:none;
}

#header_right ul li{
float:left;
width:133px;
height:45px;
line-height:45px;
text-align:center;
cursor:pointer;
}

#weixin{
width:300px;
height:300px;
position:absolute;
top:45px;
right:-300px;
display:none;
z-index:99;
}

#nav{
width:100%;
height:90px;
background:#fbfbfb;
}

#nav_nav{
width:1000px;
height:90px;
margin:0 auto;
}

#nav_nav_left{
float:left;
width:220px;
height:50px;
padding-top:20px;
}

#nav_nav_right{
float:right;
width:700px;
height:90px;
}

#nav_nav_right ul{
list-style:none;
width:700px;
height:90px;
}

#nav_nav_right ul li{
float:left;
width:116px;
height:90px;
line-height:90px;
text-align:center;
cursor:pointer;
}

/*主体*/
#all{
width:100%;
height:1880px;
background:url(../images_ceshi/创业故事背景.jpg) no-repeat;
background-size:100% 100%;
position:relative;
z-index:1;
}

#all_middle{
width:1050px;
height:auto;
margin:0 auto;
background:#FFFFFF;
border:solid #FFFFFF 1px;
position:relative;
}

#all_header{
width:518px;
height:319px;
margin:0 auto;
padding-top:30px;
margin-bottom:30px;
}


/*焦点图*/
#jiaodian1{
width:1050px;
height:400px;
background:url(../images_ceshi/创业1.jpg) no-repeat;
margin:0 auto;
}
#jiaodian2{
width:1050px;
height:400px;
background:url(../images_ceshi/创业.jpg) no-repeat;
margin:0 auto;
display:none;
}
#jiaodian3{
width:1050px;
height:400px;
background:url(../images_ceshi/创业2(1).jpg) no-repeat;
margin:0 auto;
display:none;
}

/*创业故事*/
#cy{
width:1050px;
height:1100px;
margin:0 auto;
background:#FFFFFF;
position:relative;
z-index:10;
}

#cy_left{
width:590px;
height:auto;
float:left;
}

#cy_left ul{
width:590px;
height:auto;
list-style:none;
}

#cy_left ul li{
width:590px;
height:190px;
border:dashed #CCCCCC 1px;
border-left:none;
border-right:none;
border-bottom:none;
margin-top:10px;
}

#cy_right{
width:398px;
height:auto;
float:right;
}

/*成功案例*/
#hot_li1_left{
width:220px;
height:160px;
float:left;
 
}

#hot_li1_left img{
padding-top:30px;
padding-left:20px;
}



#hot_li1_right{
float:right;
width:350px;
height:150px;
 
padding-top:20px;
}
ul{
list-style:none;
}

#cy_right ul{
width:388px;
height:auto;
list-style:none;
}

#cy_right ul li{
width:388px;
height:180px;
border:dashed #CCCCCC 1px;
border-left:none;
border-right:none;
border-bottom:none;
margin-top:10px;
}

#footer{
float:left;
}

/*qq在线客服*/

#qq{
position:fixed;
top:200px;
left:0;
z-index:20000;
width:120px;
height:auto;
}

#q{
width:100%;
height:50px;
background:#eeeeee;
border:solid #CCCCCC 1px;
border-bottom:none;
border-left:none;
border-right:none;
}

#q_left{
width:48%;
height:40px;
float: left;
text-align:center;
padding-top:5px;
border:solid #CCCCCC 1px;
border-left:none;
border-bottom:none;
border-top:none;
cursor:pointer;
}

#q_right{
width:48%;
height:40px;
float:right;
text-align:center;
padding-top:5px;
cursor:pointer;
}

#qq_wx{
width:100px;
height:100px;
position:absolute;
bottom:0;
left:130px;
display:none;
}
