@charset "utf-8";
/* CSS Document */
@media screen and (max-width:1220px){
	.foot-con{width:90%;margin:0 auto;}
	.f-l{width:60%;}
	.f-r{width:40%;}

}
@media screen and (max-width:870px){
	.m-con3 dl {width:86%;padding:20px 0 76px 2%;margin:0 auto;}
	.m-con3 dl dt {width:48%;margin:0 2% 0 0;height:auto;}
	.m-con3 dl dd {width:48%;margin:0 2% 1% 0;height:auto;}
}
@media screen and (max-width:640px) {
	/*公共部分*/
	.b-1{display:none;}
	.b-2{display:block;}
	.owl-theme .owl-controls .owl-page span{ display:none;}
	.owl-theme .owl-controls .owl-buttons div{ display:none;}
	.hbtn{ display:block;}
	.hcon{ display:none;}
	.logo-m{ display:block; width:100%; text-align:center; margin-top:13px;}
	.header{height:50px;}
	.logo-m img{width:90px}
	.footer {padding:20px 0 26px;}
	.foot-con{display:none;}
	.footer .f-con {padding-top:15px;}
	.m-foot-con{width:92%;margin:0 auto;display:block;}
	ul.f-nav li{float:none;width:100%;margin:0 auto;border-bottom:#62696e solid 1px;}
	ul.f-nav li p{background-image:url(http://source.aigegou.com/img/mf_icon2.png);background-repeat:no-repeat;background-size:auto 24%;background-position: right 20px;padding:6px 0;font-size:1.4rem !important;font-size:14px;cursor:pointer;}
	ul.f-nav li p.on {background-image:url(http://source.aigegou.com/img/mf_icon1.png);background-repeat:no-repeat;background-size:auto 16%;background-position: right 20px;}
	ul.f-nav li div {padding:4px 0 14px;display:none;}
	ul.f-nav li a{font-size:1.4rem !important;font-size:14px;}
	.m-foot-con .f-ph {background:url(http://source.aigegou.com/img/phone@2x.png) 0 4px no-repeat;background-size:28px auto;display:inline-block;line-height:3.6rem !important;line-height:36px;}
	.m-foot-con .f-weixin {background:url(http://source.aigegou.com/img/wechat@2x.png) 0 10px no-repeat;background-size:28px auto;}
	.m-foot-con .f-weibo {background:url(http://source.aigegou.com/img/weibo@2x.png) 0 10px no-repeat;background-size:28px auto;}
	.m-foot-con .f-qq {background:url(http://source.aigegou.com/img/qq@2x.png) 0 10px no-repeat;background-size:28px auto;}
	.m-foot-con .f-an {background:url(http://source.aigegou.com/img/anzhuo@2x.png) 0 10px no-repeat;background-size:28px auto;}
	.m-foot-con .f-ip {background:url(http://source.aigegou.com/img/apple@2x.png) 0 10px no-repeat;background-size:28px auto;}
	.m-foot-con .f-con a,.m-foot-con .f-con span {font-size:1.4rem !important;font-size:14px;vertical-align:top;width:42.5%;display:inline-block;padding:0 0 0 7%;}
	.m-foot-con .f-downl {line-height:50px;font-size:1.4rem !important;font-size:14px;padding-top:6px;border-bottom:#62696e solid 0;padding-bottom:6px;}
	.m-foot-con .cp {font-size:1.3rem !important;font-size:13px;padding-top:20px;}
/*index.html*/
	.video .v-title{ font-size:2.5rem !important; text-align:left;width:84%;margin:0 auto;}
	.video{ padding:50px 0;}
	.video .v-text{ width:84%; height:auto; text-align:left; font-size:1.5rem !important;margin:25px auto 0;}
	.video .v-text .s1{ margin-top:-10px; position:absolute; background:url(http://source.aigegou.com/img/zyh.png) no-repeat; width:15px; height:13px; background-size:80%;}
	.video .v-text .s2{ margin-top:10px; position:absolute; background:url(http://source.aigegou.com/img/yyh.png) no-repeat; width:15px; height:13px; background-size:80%;}
	.v-sBtn{ width:100%; height:auto; text-align:center; font-size:1.5rem !important; color:#DC2E2F; margin:20px 0 10px;}
	.v-sBtn .s1{ padding-right:0.2rem;}
	.v-sBtn .s2{ width:2rem; height:2rem;margin-top:2px}
	.v-sBtn .s2 img{ width:80%;}
	.m-BVideo{ width:300px; height:300px; background:url(http://source.aigegou.com/img/gp.png) no-repeat; cursor:pointer; position:relative; top:50%; left:50%; margin:-148px 0 0 -150px; background-size:300px;}
	.m-BVideo a{ width:37px; height:43px; background:url(http://source.aigegou.com/img/gp_play.png) no-repeat; position:absolute; top:136px; left:142px; background-size:80%;}
	.m-BVideo a:hover{ background:url(http://source.aigegou.com/img/gp_play1.png) no-repeat;background-size:80%;}
	.v-sBtn2 {width:300px;margin:20px auto 0;}
	.v-sBtn2 .vi1,.v-sBtn2 .vi2  {margin:10px 0;}
	.con1 {padding-bottom:56px;}
	.m-con1{ width:100%; height:auto; background:#FDEFD2; position:relative; top:0; left:0; margin:0;}
	.mc1-title{ width:84%; height:auto; text-align:left;font-size:2.5rem !important;font-size:25px; color:#60511C; letter-spacing:0; padding:50px 8% 10px;}
	.mc1-title span {display:block;}
	.mc1-text ul{ width:84%; margin:0 auto;}
	.mc1-text ul li{width:100%;font-size:15px; padding:0; color:#6F5E26; background:url(http://source.aigegou.com/img/litag@3x.png) no-repeat 0 4px;background-size:7px auto; padding-left:13px;}
	.mc1-list{ margin-top:30px;}
	.mc1-list ul{ margin:0 14px;}
	.mc1-list ul li{ width:40%; height:40%; float:left; margin:5px 10px;}
	.mc1-list ul li img{ width:100%;}
	.con2{height:500px;}
	.m-con2{width:480px;margin:0 auto;height:500px;position:relative;}
	.con2-1 {background-size:100%;width:286px;height:286px;margin:-180px 0 0 -230px;}
	.con2-2 {background-size:100%;width:218px;height:218px;margin:-160px 0 0 0px;}
	.con2-3 {background-size:100%;width:140px;height:140px;margin:72px 0 0 -120px;}
	.con2-4 {background-size:100%;width:175px;height:175px;margin:0px 0 0 -24px;}
	.m-con2 a {font-size:2.6rem !important;font-size:26px;}	
	.mc2-title {padding:50px 0 20px 0;font-size:2.5rem !important;font-size:25px;letter-spacing:0;text-align:left;width:84%;margin:0 auto;}
	.mc2-text {line-height:2.4rem !important;line-height:24px;width:82%;margin:0 auto;}
	.m-con3 dl {padding:20px 0 50px 2%;}
	.m-con4{background:url(http://source.aigegou.com/img/m-why.jpg) bottom center no-repeat #f6f1f1;padding:30px 0 60%;background-size:100% auto;}
	.c4-title {font-size:2.5rem;font-size:25px;padding: 20px 0;letter-spacing:0;text-align:left;width:84%;margin:0 auto;}
	.con6 .map-box{width:296px;height:256px;background:url(http://source.aigegou.com/img/m-mapbg.png) no-repeat;padding:2px 2px 16px 2px;left:50%;margin-left:-150px;bottom:34px;}
	.con5 li .c5-map {background:url(http://source.aigegou.com/img/location@3x.png) center 0 no-repeat;background-size:38px auto;}
	.con5 li .c5-ph {background:url(http://source.aigegou.com/img/dianhua@3x.png) center 6px no-repeat;background-size:45px auto;}
	.con5 li .c5-email{background:url(http://source.aigegou.com/img/email@3x.png) center 12px no-repeat;background-size:50px auto;}
	.con6 {width:100%;}
	.con6 .map-box{width:296px;height:256px;background:url(http://source.aigegou.com/img/m-mapbg.png) no-repeat;padding:2px 2px 16px 2px;left:50%;margin-left:-150px;bottom:490px;}
/*****project.html******/
	.p-con {padding-top:50px;}
	.p-con .pc_title {font-size:2.5rem !important;padding-bottom:20px;letter-spacing: 0;text-align:left;margin:0 auto;width:84%;}
	.p-con .pc_title span {display:block;}
	.p-con .pc_text {font-size:1.4rem !important;font-size:14px;line-height:2.4rem !important;line-height:24px;width:84%;margin:0 auto;text-align:left;}
	.pc_btn a {line-height:2.8rem !important;}
	.pc1 {padding-top:70px;}
	.pc1 .pc_text span {padding:0;}
	.pc1 .pc_text span.border_r {border:none;}
	.pc1 ul {padding-bottom:60px;}
	.pc1 ul li {width:27%;padding:20px 2% 10px;}
	.pc1 ul li img {width:100%;}
	.pc1 ul li p{font-size:1.2rem !important;padding-top:10px;}
	.pc2 {background-size:auto 12%;padding:60px 0 60px;}
	.pc2 .pc2_box {width:90%;height:auto;}
	.pc2 .pc2_box li{width:90%;padding-left:10%;font-size:1.5rem !important;font-size:15px;text-align:left;line-height:2.8rem !important;}
	.pc2 .pc_btn{padding:28px 0 50px;}
	.pc2 ul li span.tg1 {background:url(http://source.aigegou.com/img/circle_red@2x.png) no-repeat;background-size:80%;background-position:center center;}
	.pc2 ul li span.tg2 {background:url(http://source.aigegou.com/img/circle_lv@2x.png) no-repeat;background-size:80%;background-position:center center;}
	.pc3 .pc_img {width:98%;margin:0 auto;padding-bottom:60px;}
	.pc3 .pc_img img {width:88%;}
	.pc4 .pc_g {background-size:100% auto;width:300px;height:400px;margin:0 auto;position: relative;}
	.pc4 .pc_t {font-size:2.0rem !important;font-size:20px;width:80px;height:80px;line-height:1.8rem !important;line-height:18px;}
	.pc4 .pc_t a{display:block;background:#fff;padding-top:30px;height:50px;width:80px;}
	.pc4 .t1 {left:30px;top:-12px;}
	.pc4 .t2 {left:240px;top:-4px;}
	.pc4 .t3 {left:0;top:160px;}
	.pc4 .t4 {left:182px;top:186px;}
	.pc4 .t5 {left:10px;top:255px;}
	.pc4 .t6 {left:226px;top:272px;}
	.pc4 .t2 a,.pc4 .t4 a {padding-top:22px;height:58px;}
	.pc4 .js {opacity:0;display:none;}
	.p4_jsbg { width:100%; height:100%; background:#000; position:fixed;display:none; z-index:1000; left:0; top:0; filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6;}
	.p4_js{ width:264px; height:136;padding:18px 18px 24px;overflow-y:auto; left:50%; top:50%; margin:-68px 0 0 -150px; background:#fff; position:fixed; z-index:1001;display:none; font-size:1.5rem !important;font-size:15px;text-align:left;line-height:2.8rem !important;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
	.pc5{width:100%;text-align:center;padding-bottom:60px;text-align:left;}
	.pc5 .pc_title{margin:0 auto;width:86%;}
	.pc5 .pc_text {text-align:left;}
	.pc5 li img {width:92%;display: block;padding:10px 0 0;margin:0 auto;}
	.pc5 li span {float:none;width:92%;margin:0 auto;display:block;height:auto;text-align:left;font-size:1.5rem !important;font-size:15px;line-height:2.4rem !important;line-height:24px;}
	.pc6 {padding-bottom:60px;}
	.pc6 .pc_title{width:86%;}
	.pc6 .pc_img img {width:92%;}
	.pc6 .pc_text {padding-bottom:32px;}
	.pc_nav li {line-height:2.8rem !important;line-height:28px;}
	.pc7 .pc_nav{width:304px;}
	.pc7 .pc_nav li {width:76px;}
	.pc7 .pc_nav li.border_l {width:75px;}
	.pc7 .oc_web {display:none;}
	.pc7 .m-oc {display:block;}
	.pc7 .m-oc .owl-carousel{padding:0 0 70px;}
	.pc7 .m-oc .owl-carousel img{width:100%;}
	.pc7 .m-oc .photo_text {width:92%;margin:0 auto;padding-top:20px;font-size:1.5rem !important;font-size:15px;line-height:2.0rem !important;}
	/****download.html*****/
	.dl_banner {padding:90px 0 0;height:320px;}
	.banner_c {width:88%;margin:0 auto;}
	.banner_c .dl_logo {width:100%;}
	.banner_c .dl_logo img{height:80px;width:auto;}
	.banner_c h2 {font-size:2.1rem !important;letter-spacing:0;}
	.banner_c p {font-size:1.5rem !important;letter-spacing:0;padding:12px 0 25px}
	.banner_c .banner_btn a {width:120px;}
	.banner_c .banner_btn span.btn1 {background:url(http://source.aigegou.com/img/anzhuo1@2x.png) no-repeat; background-size:15px auto;}
	.banner_c .banner_btn span.btn2 {background:url(http://source.aigegou.com/img/iphone1@2x.png) 2px 0 no-repeat;background-size:12px auto;}
	.banner_ph1,.banner_ph2{display:none;}
	.dl_c {padding:0;}
	.dl_con {width:88%;}
	.dl_con .dl_img{position:static;}
	.dl1 .dl_text,.dl2 .dl_text,.dl3 .dl_text,.dl4 .dl_text{padding:0;}
	.dl1 .dl_img,.dl2 .dl_img,.dl3 .dl_img,.dl4 .dl_img {left:auto;padding-top:34px;}
	.dl1,.dl2,.dl3,.dl4{padding:50px 0 10px;text-align:left;}
	.dl_con .dl_text h4{font-size:2.5rem !important;padding-bottom:16px;}
	.dl_con .dl_text h4 span {display:block;}
	.dl_con .dl_text p {font-size:1.5rem !important;line-height:2.4rem !important;}
	.dl_con .dl_img {text-align:center;}
	.dl_con .dl_img img{width:80%;}
	.dl5 {width:100%;margin:0 auto;background:none;padding-top:50px;}
	.dl5 ul {width:92%;margin:0 auto}
	.dl5 ul li {width:19%;height:54px;margin:0;font-size:1.6rem !important;line-height:5.4rem !important;}
	.dl5 ul li span{width:54px;height:54px;}
	.dl5 dl {height:auto;}
	.dl5 dl dd,.dl5 dl dt {position:static;}
	.dl5 dl dd.p1,.dl5 dl dd.p2,.dl5 dl dd.p3,.dl5 dl dd.p4,.dl5 dl dd.p5 {text-align:left;left:auto;width:88%;margin:0 auto;}
	.dl5 dd h4 {padding:50px 0 10px;font-size:2.5rem !important;}
	.dl5 dd p {font-size:1.5rem !important;font-size:15px;color:#888888;}
	.dl5 dt {padding-top:40px;}
	/*****about.html*****/
	.ab_banner {background-size:auto 400px;width:100%;height:400px;}
	.ab_banner .ab_logo {display:none;}
	.ab_banner .m_ab_logo {margin:-59px 0 0 -70px;width:124px;height:138px;display:block;}
	.ab_banner .m_ab_logo img {width:100%;height:100%;}
	.about_nav {top:360px;}
	.about_nav ul {width:100%;margin:0 auto;height:40px;}
	.about_nav ul li {width:90px;display:inline-block;line-height:40px;font-size:1.3rem !important;font-size:13px;text-align:center;}
	.ab_c {padding:0;background:#fff;}
	.ab_cbox {width:100%;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
	.ab_c1,.ab_c2,.ab_c3 {padding:60px 8%;}
	.ab_title {margin:0 auto 36px;}
	.ab_title p {font-size:1.2rem !important;}
	.ab_c1 .ab_text h5{width:100%;padding:0 0 20px;font-size:1.6rem !important;line-height:2.4rem;letter-spacing:0;}
	.ab_c1 .ab_text p{width:100%;font-size:1.4rem !important;line-height:2.4rem;}
	.ab_c2 .ab_img img {width:100%;}
	.ab_c3 dl dd {height:auto;}
	.ab_c3 dl dd span {float:none;}
	.ab_c3 dl dd a {float:none;}
	.ab_c3 dl {width:100%;padding:0 0 20px;text-align:center;}
	.ab_c3 dl dt {padding:20px 0 10px;}
	.ab_map .map-box {width:298px;height:298px;left:50%;margin-left:-150px;bottom:240px;}
	.ab_map .map-box .arrow {right:50%;margin-right:-9px;}
	/****activity.html***/
	.at_nav{width:302px;padding-top:50px;}
	.at_nav ul {width:302px;}
	.at_nav li{width:100px;}
	.at_box {width:310px;padding:30px 0 30px;}
	.at_box ul li {margin:5px;}
	.at_box ul li.box1{width:300px;height:300px;}
	.at_box ul li.box2{width:300px;height:145px;}
	.at_box ul li.box3{width:145px;height:145px;}
	/*****join.html*****/
	.ab_c4 {background:none;padding:60px 0;}
	.ab_c4 .ab_text{padding:25px 0 56px;}
	.ab_c4 dl{width:100%;}
	.ab_c4 dl dt {padding:0 20px;}
	.ab_c4 dl dd {padding:0 20px;}
	.ab_c4 dl li.w1 {width:54%;padding:0 2% 0 0;}
	.ab_c4 dl li.w2 {width:20%;}
	.ab_c4 dl li.w3 {width:24%;}
	.ab_c4 .join {padding:15px 0 20px;}
}

@media screen and (max-width:480px){
	.con2{height:440px;}
	.m-con2{width:320px;margin:0 auto;height:440px;position:relative;}
	.con2-1 {background-size:100%;width:214px;height:214px;margin:-150px 0 0 -164px;}
	.con2-2 {background-size:100%;width:164px;height:164px;margin:-140px 0 0 4px;}
	.con2-3 {background-size:100%;width:104px;height:104px;margin:46px 0 0 -100px;}
	.con2-4 {background-size:100%;width:146px;height:146px;margin:-4px 0 0 -24px;}
	.m-con2 a {font-size:2.2rem !important;font-size:22px;}
	.con5 {padding-bottom:60px;}
	.con5 ul li {font-size:1.3rem !important;font-size:13px;width:320px;padding-top:30px;}
	.footer .f-con a,.footer .f-con span {width:90%;padding:0 0 0 10%;}
	.footer .f-con .f-weibo,.footer .f-downl .f-an ,.footer .f-downl .f-ip {width:39%;padding:0 0 0 10%;}
	.footer .f-con .f-qq {width:39%;}
}



