@charset "utf-8";

/* CSS Document */


/*公共部分*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    color: #666;
    font-size: 62.5%;
    font-family: "Century Gothic", "Microsoft YaHei", "SimSun", "Segoe UI", "Times New Roman";
}

a {
    color: #666;
    text-decoration: none;
    border: 0;
}

a:hover {
    text-decoration: none;
    border: 0;
}

a {
    outline: none;
}

a:active {
    star: expression(this.onFocus=this.blur());
}

:focus {
    outline: 0;
}

img {
    border: 0
}

li {
    list-style: none
}

.clear {
    clear: both;
}


/*头部*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #2aabe6;
    z-index: 99;
}

.header a {
    color: #fff;
    font-size: 14px;
    line-height: 60px;
}

.header-box {
    position: relative;
    width: 710px;
    margin: 0 auto;
    padding: 0 70px 0 220px;
}

.header .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 132px;
    height: 60px;
    background: url("../img/logo.png") center no-repeat;
}

.header .login {
    position: absolute;
    right: 0;
    top: 17px;
    width: 70px;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    background: #51b9e8;
    border-radius: 13px;
}

.h-nav ul {
    font-size: 0;
}

.h-nav li {
    display: inline-block;
    width: 104px;
    vertical-align: top;
}

.h-nav a {
    display: block;
    width: 90px;
    padding-left: 14px;
}

.course {
    position: relative;
}

.course .on {
    background: #27a0d8;
}

.course .more {
    position: absolute;
    padding: 4px 0 8px;
    background: #27a0d8;
}

.course .more a {
    line-height: 36px;
}

.banner {
    background: #2bb0ed;
    padding-top: 60px;
    text-align: center;
}

.box1 {
    font-size: 0;
    text-align: center;
}

.box1 li {
    display: inline-block;
    width: 364px;
    padding: 42px 0;
}

.box1 p {
    padding-top: 24px;
    font-size: 28px;
    line-height: 32px;
}

.summary {
    height: 360px;
    width: 100%;
}

.gray {
    background: #eef1f2;
}

.summary-box {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.summary .video {
    position: absolute;
    left: 47px;
    top: 4px;
    width: 474px;
    height: 384px;
    background: url("../img/index4.png") no-repeat;
}

.summary .text {
    padding-top: 150px;
    line-height: 44px;
}

.summary .img {
    position: absolute;
    left: 47px;
    top: 4px;
    width: 474px;
    height: 384px;
    background: url("../img/index4.png") no-repeat;
}

.summary .left .text {
    padding-left: 590px;
}

.summary .right .text {
    padding-left: 130px;
}

.summary .left .img {
    padding-left: 590px;
}

.summary .right .img {
    padding-left: 130px;
}