@charset "utf-8";
/* CSS Document */
/*公共部分*/
*{margin:0;padding:0;}
html,body{color:#666; font-family:"Century Gothic","Microsoft YaHei","SimSun","Segoe UI","Times New Roman"; }
a{ color:#666; text-decoration:none; border:0;}
a:hover{text-decoration:none; border:0;}
a {outline: none;}
a:active {star:expression(this.onFocus=this.blur());}
:focus { outline:0;}
img{border:0}
li{list-style:none}
.clear{ clear:both;}
/*头部*/
#owl-demo .owl-item div{ padding:0;}
#owl-demo .owl-item img{ display: block; width: 100%; height: auto;}
.b-1{display:block;}
.b-2{display:none;}
.b-1,.b-2,.b-1 img,.b-2 img{width:100%;}
.header{ width:100%; height:85px; background:#fff; z-index:2; position:fixed; filter:alpha(opacity=90); -moz-opacity:0.9; opacity:0.95; box-shadow:0px 2px 3px rgba(0,0,0,0.15);}
.hbtn,.m-hbtn{ float:left; width:26px; height:24px;  padding:16px 14px 9px; display:inline; cursor:pointer; position:absolute; z-index:1; display:none;}
.hbtn span,.m-hbtn span{ float:left; width:24px; height:6px; border-top:2px solid #65615E;}
.mh-nav {position:fixed;left:-80%;top:0;width:80%;background:#fff;height:100%;z-index:1001; box-shadow:0px 2px 3px rgba(0,0,0,0.2);}
.mh-nav ul{padding-top:50px;width:100%;}
.mh-nav ul li {height:50px;line-height:5.0rem !important;line-height:50px;font-size:1.8rem !important;font-size:18px;}
.mh-nav ul li a {color:#333;display:block;padding-left:14px;}
.mh-nav ul li a.on {color:#d03031;}
.mh-bg{ width:100%; height:100%; background:#000; position:fixed; display:none; z-index:1000; left:0; top:0; filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6;}
.hcon{ width:1200px; height:85px; margin:0 auto; position:relative; z-index:1;}
.hcon .logo{ float:left; width:130px; height:38px; margin-top:24px;}
.hcon .hnav{ float:left; margin-top:29px; margin-left:42px; display:inline;}
.hcon .hnav ul{height:56px;}
.hcon .hnav ul li{ float:left; height:auto; /*display:inline;*/}
.hcon .hnav ul li a{ width:90px; float:left; height:28px; line-height:28px;color:#555; font-size:14px; text-align:center; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;}
.hcon .hnav ul li a.current{ background:#D03032; color:#fff; behavior: url(iecss3.htc);transition:.2s ease-in-out;}
.hcon .hnav ul li a:hover{ color:#D03032; transition:.2s ease-in-out; }
.hcon .hnav ul li a:active {color:#555;background:none;}
.hcon .hnav ul li a.current:hover { color:#fff;background:#D03032;}
.hcon .btnbox {position:relative;float:right;width:100px;margin-top:29px;}  
.hcon .btnFE{ width:100px; height:28px; background:rgba(0,0,0,0.15) url(http://source.aigegou.com/img/arrow_u.png) 77px 11px no-repeat; color:#333; line-height:28px; text-indent:13px; overflow:hidden; cursor:pointer; font-size:14px;
	border-top-left-radius:5px; 
	border-top-right-radius:5px;
	-moz-border-top-left-radius:5px; 
	-moz-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px; 
	-webkit-border-top-right-radius:5px;}
.hcon .btnFE.bg{ background:rgba(0,0,0,0.15) url(http://source.aigegou.com/img/arrow_d.png) 77px 11px no-repeat;}
.hcon .btnFE.th{
	border-bottom-left-radius:5px; 
	border-bottom-right-radius:5px;
	-moz-border-bottom-left-radius:5px; 
	-moz-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px; 
	-webkit-border-bottom-right-radius:5px;
	}
 ul.btnFEDiv {  position:absolute; z-index:2;  display:none;top: width:100px; height:auto; background:#fff;
	border-bottom-left-radius:5px; 
	border-bottom-right-radius:5px;
	-moz-border-bottom-left-radius:5px; 
	-moz-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px; 
	-webkit-border-bottom-right-radius:5px;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.15);  
  	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.15);  
  	box-shadow: 0 2px 2px rgba(0,0,0,0.15);}
ul.btnFEDiv li{ float:left; width:100px; height:35px; border-bottom:1px solid #eee;}
ul.btnFEDiv li.last{ border:none;}
ul.btnFEDiv li a{ float:left; width:92px; height:28px; margin-left:4px; display:inline;font-size:12px;line-height:28px; margin-top:3px; text-indent:0; text-align:center; color:#333;}
ul.btnFEDiv li a.current{ background:#DD3030; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;}
ul.btnFEDiv li a:hover{ background:#DD3030; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;transition:.3s cubic-bezier(0.645, 0.045, 0.355, 1);}
.hbtn{ display:none;}
.hcon{ display:block;}
.logo-m{ display:none;}
.content{ width:100%; height:auto; overflow:hidden;}
/*底部*/
.footer {background:#3b434a;width:100%;padding:58px 0 26px; float:left; font-size:14px;}
.foot-con {width:1220px;margin:0 auto;height:242px;}
.f-l{width:70%;float:left;}
.f-r{width:30%;float:right;}
ul.f-nav {width:100%;overflow:hidden;line-height:36px;}
ul.f-nav li {width:33%;float:left;}
ul.f-nav li p{font-size:16px;color:#fff;}
ul.f-nav li a{display:block;color:#aaaaaa;font-size:13px;}
.footer .cp {color:#74787c;font-size:12px;padding-top:46px;}
.footer .cp a {color:#a9a9a9;}
.footer .f-con {line-height:50px;color:#9e9e9e;font-size:13px;padding-bottom:12px;border-bottom:#333a40 solid 1px;}
.footer .f-con a,.footer .f-downl a {color:#9e9e9e;padding:0 20px 0 35px;display:inline-block;}
.footer .f-ph {background:url(http://source.aigegou.com/img/foot-icon.png) 0 -232px no-repeat;padding-left:35px;}
.footer .f-weixin {background:url(http://source.aigegou.com/img/foot-icon.png) 0 -309px no-repeat;position:relative;}
.f-weixin .code {position:absolute;bottom:50px;height:158px;background:#fff;left:-18px;border: red solid 2px;-moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;display:none;}
.f-weixin .code .arrow {right:50%;margin-right:-9px;position:absolute;bottom:-16px;width:18px;height:16px;background:url(http://source.aigegou.com/img/arrow_bg.png) center bottom no-repeat;}
.footer .f-weibo {background:url(http://source.aigegou.com/img/foot-icon.png) 0 -384px no-repeat;}
.footer .f-qq {background:url(http://source.aigegou.com/img/foot-icon.png) 0 -461px no-repeat;}
.footer .f-downl {line-height:50px;font-size:13px;padding-top:12px;}
.footer .f-downl a{color:#d2d2d2;}
.footer .f-an {background:url(http://source.aigegou.com/img/foot-icon.png) 0  -513px no-repeat;}
.footer .f-ip {background:url(http://source.aigegou.com/img/foot-icon.png) 0  -563px no-repeat;}
.m-foot-con {display:none;}
.go_up {position:fixed;bottom: 20px;right:20px;width:60px;height:60px;overflow:hidden;display:none; filter:alpha(opacity=0); -moz-opacity:0; opacity:0;}
.go_up a {width:40px;height:40px;margin:0 auto;display:block; -moz-border-radius: 6px;-webkit-border-radius: 6px;border-radius: 6px;background:url(http://source.aigegou.com/img/arrow_up_w.png) center center no-repeat #333; background-size:50% auto; opacity: 0.8;}
.go_up a:hover {background:url(http://source.aigegou.com/img/arrow_up_w.png) center center no-repeat #000;background-size:50% auto;}
/******index.html*******/
.video{ width:100%; padding:80px 0;}
.video .v-title{ width:100%; height:auto; text-align:center; font-size:3.4rem !important;font-size:34px; color:#333;}
.video .v-text{ width:100%; height:auto; text-align:center; font-size:1.6rem  !important; font-size:16px; margin-top:30px; color:#888;}
.video .v-text .s1{ margin-top:-10px; position:absolute; background:url(http://source.aigegou.com/img/zyh.png) no-repeat; width:15px; height:13px;display:none;}
.video .v-text .s2{ margin-top:10px; position:absolute; background:url(http://source.aigegou.com/img/yyh.png) no-repeat; width:15px; height:15px;display:none;}
.video .v-text .st{ padding:0 10px 0 0;}
.v-sBtn{ width:100%; height:auto; text-align:center; font-size:1.6rem  !important; font-size:16px; color:#DC2E2F; margin-top:40px;}
.v-sBtn .s1{ padding-right:2px;cursor:pointer;}
.v-sBtn .s2{ width:20px; height:20px;margin:0 8px 2px 0;cursor:pointer;vertical-align:middle;display:inline-block}
.v-sBtn .s2 img {width:100%;}
.BVideo{ width:412px; height:412px; background:url(http://source.aigegou.com/img/gp.png) no-repeat; cursor:pointer; position:relative; top:50%; left:50%; margin:-174px 0 0 -206px;}
.BVideo a{ width:37px; height:43px; background:url(http://source.aigegou.com/img/gp_play.png) no-repeat; position:absolute; top:185px; left:194px; filter:alpha(opacity=0); -moz-opacity:0; opacity:0;}
.BVideo a:hover{ background:url(http://source.aigegou.com/img/gp_play1.png) no-repeat;}
.BVideo-bg{ width:100%; height:100%; background:#000; position:fixed; display:none; z-index:1000; left:0; top:0; filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6;}
.BVideo-div1,.BVideo-div2 { width:800px; height:450px; left:50%; top:50%; margin:-225px 0 0 -400px; background:#fff; position:fixed; z-index:1001; display:none;}
.v-sBtn2 {width:620px;margin:40px auto 0;font-size: 0;}
.v-sBtn2 .vi1,.v-sBtn2 .vi2 {width:300px;height:200px;margin:0 5px;position:relative;display:inline-block;}
.v-sBtn2 .video1,.v-sBtn2 .video2 {position:absolute;background:url(http://source.aigegou.com/img/play.png) no-repeat;background-size:100%;width:60px;height:60px;left:50%;top:50%;margin:-30px 0 0 -30px;cursor: pointer;}
.v-sBtn2 img {-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.v-sBtn2 .video1:hover,.v-sBtn2 .video2:hover {background:url(http://source.aigegou.com/img/play_h.png) no-repeat;background-size:100%;}
.con1{ width:100%; height:auto; background:#FDEFD2; position:relative; top:0; left:0; margin:0; padding-bottom:95px; overflow:hidden;}
.mc1-title{ width:100%; height:auto; text-align:center; font-size:40px; color:#60511C; letter-spacing:0.05em; padding:80px 0 10px 0;}
.mc1-text{ width:100%; height:auto;}
.mc1-text ul{ width:683px; margin:0 auto;}
.mc1-text ul li{ width:683px; margin:15px 0 0 0; color:#6F5E26; font-size:17px;  background:url(http://source.aigegou.com/img/litag.png) no-repeat 12px; padding-left:30px; color:#6F5E26;}
.mc1-list{ width:100%; height:auto; margin-top:50px;}
.mc1-list ul{ width:100%; height:auto; margin:0 auto; text-align:center;}
.mc1-list ul li{ width:278px; height:207px; margin:10px 12px; display:inline-block; zoom:1;}
.con2{ width:100%; height:640px; background:url(http://source.aigegou.com/img/qpbg.jpg) center center no-repeat; position:relative;border-bottom:#dd3030 solid 2px;}
.con2-1{ width:358px; height:358px; background:url(http://source.aigegou.com/img/agg.png) no-repeat; position:absolute; margin:-246px 0 0 -285px; left:50%; top:50%;}
.con2-2{ width:272px; height:272px; background:url(http://source.aigegou.com/img/aggys.png) no-repeat; position:absolute; margin:-246px 0 0 14px; left:50%; top:50%;}
.con2-3{ width:174px; height:174px; background:url(http://source.aigegou.com/img/sj.png) no-repeat; position:absolute; margin:72px 0 0 -170px; left:50%; top:50%;}
.con2-4{ width:244px; height:244px; background:url(http://source.aigegou.com/img/qydl.png) no-repeat; position:absolute; margin:-44px 0 0 -55px; left:50%; top:50%;}
.con2 a {font-size:3.0rem !important;font-size:30px;color:#ffffff;text-align:center;display:block;width:100%;padding-top:36%;height:64%;-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;}
.con3 {width:100%;position:relative;height:auto;background:#fff;}
.mc2-title {width:100%;text-align:center;padding:80px 0 32px 0;color:#dd3030;font-size:4.0rem;font-size:40px;letter-spacing:0.2rem}
.mc2-text {font-size:1.5rem !important;font-size:15px;color:#666666;line-height:2.4rem !important;line-height:24px;width:660px;margin:0 auto;}
.con3 dl {width:870px;margin:0 auto;padding:34px 0 80px 12px;height:auto;text-align:center;font-size:1.6rem !important;font-size:16px;overflow:hidden;}
.con3 dl a {color:#fff;display:block;width:100%;height:100%;}
.con3 dl dt,.con3 dl dd {float:left;margin:0 10px 10px 0;}
.con3 dl dt{width:280px;height:280px;overflow:hidden;}
.con3 dl dd {width:280px;height:135px;overflow:hidden;}
.con3 dl img {width:100%;}
.con4 {background:url(http://source.aigegou.com/img/why.jpg) bottom center no-repeat #f6f1f1;padding:60px 0 680px;width:100%;position:relative;}
.c4-title {font-size:4.0rem;font-size:40px;letter-spacing:0.2rem;color:#010101;text-align:center;padding:25px 0;}
.con5 {padding:30px 0 72px 0;width:100%;position:relative;}
.con5 ul {width:100%;text-align:center;}
.con5 ul li {display:inline-block;width:360px;font-size:1.4rem !important;font-size:14px;color:#666666;line-height:3.6rem !important;line-height:36px;text-align:center;padding-top:50px;}
.con5 ul li a {color:#df3c3c;display:block;}
.con5 span.text {display:inline-block;padding:0 6px;}
.con5 li .c5-map,.con5 li .c5-ph,.con5 li .c5-email {display:block;width:100%;height:56px;background-image:url(http://source.aigegou.com/img/foot-icon.png);background-repeat:no-repeat;}
.c5-map {background-position:center 0;}
.c5-ph {background-position:center -83px;}
.c5-email{background-position:center -153px;}
.con6 {height:1px;width:1080px;position:relative;margin:0 auto;}
.con6 .map-box{width:1036px;height:496px;position:absolute;bottom:100px;left:0;background:url(http://source.aigegou.com/img/map-bg.png) no-repeat;padding:4px 17px 34px 21px;display:none;}
#map{width:100%;height:100%; font-size:14px;}
/*******project.html*******/
.p-con {width:100%;padding-top:90px;text-align:center;}
.p-con .pc_title {font-size:3.6rem !important;font-size:36px;padding-bottom:30px;}
.p-con .pc_text {font-size:1.6rem !important;font-size:16px;line-height:24px;}
.pc1 .pc_title {color:#ed3a17;letter-spacing:2px;}
.pc1 .pc_text {font-size:2.0rem !important;font-size:20px;color:#333333;}
.pc1 .pc_text span{padding:0 14px;display:inline-block;}
.pc1 .pc_text span.border_r{border-right:#333 solid 1px;}
.pc1 ul {width:100%;text-align:center;}
.pc1 ul li {display:inline-block;width:210px;padding:64px 0 90px;}
.pc1 li p {padding-top:20px;font-size:1.3rem !important;font-size:13px;color:#666;}
.pc2 {background:url(http://source.aigegou.com/img/xm_bg1.png) center top repeat-x #ffece3;padding:168px 0 94px;}
.pc2 .pc2_box {width:754px;height:386px;border:#fb6318 solid 2px;behavior: url(iecss3.htc);-moz-border-radius: 18px; -webkit-border-radius: 18px; border-radius: 18px;background:#fff;margin:0 auto;}
.pc2 .pc_title {font-size:3.0rem !important;font-size:30px;color:#fb6318;padding:36px 0 24px;letter-spacing:2px;}
.pc2 ul {width:100%; text-align:center;} 
.pc2 ul li {display:inline-block;width:45%;padding:0 0 0 4%;font-size:1.8rem !important;font-size:18px;text-align:left;line-height:44px;color:#333;vertical-align:middle;}
.pc2 ul li span {display:inline-block;margin-right:14px;width:18px;height:18px;padding-bottom:4px;vertical-align:middle;}
.pc2 ul li span.tg1 {background:url(http://source.aigegou.com/img/xm_tag1.png) no-repeat;}
.pc2 ul li span.tg2 {background:url(http://source.aigegou.com/img/xm_tag2.png) no-repeat;}
.pc2 .pc_btn {padding:36px 0 0;}
.pc_btn a {display:inline-block;width:98px;height:28px;font-size:1.4rem !important;font-size:14px;line-height:2.4rem !important;line-height:24px;-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pc2 .pc_btn a{border:#fb6318 solid 1px;color:#fb6318;}
.pc2 .pc_btn a:hover{background:#fb6318;color:#fff;}
.pc3 .pc_title {color:#242424;}
.pc3 .pc_text {width:604px;line-height:2.8rem !important;line-height:28px;margin:0 auto;}
.pc3 .pc_btn {padding:16px 0 44px;line-height:3.4rem !important;line-height:34px;color:#aaaaaa;font-size:1.4rem !important;font-size:14px;}
.pc3 .pc_btn a{border:#010101 solid 1px;color:#010101;}
.pc3 .pc_btn a:hover{background:#010101;color:#fff;}
.pc3 .pc_img {padding-bottom:90px;}
.pc4 {background:url(http://source.aigegou.com/img/xm_bg2.png) bottom repeat-x #9ce8c7;}
.pc4 .pc_title {color:#379069;}
.pc4 .pc_text {width:670px;line-height:3.0rem !important;line-height:30px;margin:0 auto;text-align:left;}
.pc4 .pc_ph {color:#37916a;font-weight:bold;letter-spacing:1px;padding:30px 0;text-align:center;}
.pc4 .pc_g {background: url(http://source.aigegou.com/img/xm_img3.png) bottom no-repeat;width:483px;height:677px;margin:0 auto;position: relative;}
.pc4 .pc_t {position:absolute;font-size:2.5rem !important;font-size:25px;width:110px;height:110px;line-height:2.4rem !important;line-height:24px;}
.pc4 .t1 {left:58px;top:27px;}
.pc4 .t2 {left:432px;top:40px;}
.pc4 .t3 {left:0;top:305px;}
.pc4 .t4 {left:294px;top:332px;}
.pc4 .t5 {left:30px;top:463px;}
.pc4 .t6 {left:381px;top:459px;}
.pc4 .pc_t a{display:block;-moz-border-radius: 50%; -webkit-border-radius:50%; border-radius:50%;background:#fff;padding-top:42px;height:70px;width:110px; transition:All 0.3s ease-in-out;-webkit-transition:All 0.3s ease-in-out;-moz-transition:All 0.3s ease-in-out;-o-transition:All 0.3s ease-in-out;}
.pc4 .t2 a,.pc4 .t4 a {padding-top:28px;height:82px;}
.pc4 .t1 a{color:#f8957e;}.pc4 .t1 a:hover{background:#f8957e;color:#fff;}
.pc4 .t2 a{color:#c458eb;}.pc4 .t2 a:hover{background:#c458eb;color:#fff;}
.pc4 .t3 a{color:#e260a0;}.pc4 .t3 a:hover{background:#e260a0;color:#fff;}
.pc4 .t4 a{color:#f5a822;}.pc4 .t4 a:hover{background:#f5a822;color:#fff;}
.pc4 .t5 a{color:#61d8b0;}.pc4 .t5 a:hover{background:#61d8b0;color:#fff;}
.pc4 .t6 a{color:#5db9e9;}.pc4 .t6 a:hover{background:#5db9e9;color:#fff;}
.pc4 .js {position:absolute;left:130px;top:-14px;width:300px;padding:18px 20px;border:#98c2b0 solid 1px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;background:#fff;font-size:14px;line-height:30px;text-align:left;filter:alpha(opacity=0); -moz-opacity:0; opacity:0;}
.pc4 .js span {position:absolute;display:block;width:14px;height:20px;left:-14px;top:50%;margin-top:-10px;background:url(http://source.aigegou.com/img/xmboxbg.png) no-repeat;}
.pc4 .t1 .js,.pc4 .t3 .js,.pc4 .t5 .js {right:130px;left:auto;}
.pc4 .t1 .js span,.pc4 .t3 .js span,.pc4 .t5 .js span {right:-14px;left:auto;background:url(http://source.aigegou.com/img/xmboxbg2.png) no-repeat;}
.pc4 .t3 .js {top:6px;}
.pc4 .t5 .js {top:20px;}
.pc4 .t6 .js {top:-32px;}
.pc5 {width:960px;margin:0 auto;text-align:left;padding-bottom:90px;}
.pc5 .pc_title{color:#000000;}
.pc5 .pc_text {color:#585858;line-height:37.5px;}
.pc5 ul li{padding-top:28px;font-size:1.6rem !important;font-size:16px;}
.pc5 ul img {vertical-align:middle;}
.pc5 ul span{float:right;width:310px;text-align:left;height:100px;line-height:100px;}
.pc6 {background:#f6f6f6;padding-bottom:90px;}
.pc6 .pc_title{color:#000000;}
.pc6 .p6_si {display:none;}
.pc6 .pc_text {padding-bottom:54px;}
.pc_nav {height:28px;margin:0 auto 30px;-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;}
.pc_nav li {display:inline-block;width:100px;height:28px;font-size:1.3rem !important;font-size:13px;line-height:2.4rem !important;line-height:24px;float:left;cursor:pointer;}
.pc6 .pc_nav{border:#019957 solid 1px;width:200px;}
.pc6 .pc_nav li {color:#019957;}
.pc6 .pc_nav li:hover {background:#e0fff2;}
.pc6 .pc_nav li.on {background:#019957;color:#ffffff;}
.pc6 .pc_nav li.on:hover{background:#019957;}
.pc7 .pc_nav{border:#737373 solid 1px;width:400px;}
.pc7 .pc_nav li {color:#737373;}
.pc7 .pc_nav li:hover {background:#e5e5e5;}
.pc7 .pc_nav li.border_l {border-left:#737373 solid 1px;width:99px;}
.pc7 .pc_nav li.on {background:#737373;color:#ffffff;}
.pc7 .pc_nav li.on:hover{background:#737373;}
.pc7 .p6_dls,.pc7 .p6_hd,.pc7 .p6_zs {display:none;}
.pc7 .owl-carousel {margin:0 auto;}
.pc7 .oc_web .owl-carousel {width:600px;height:510px;padding:38px 0 70px;}
.pc7 .oc_web .photo {width:600px;height:450px;margin:0 auto;}
.pc7 .oc_web .photo img{width:600px;height:auto;vertical-align:middle;text-align:center;}
.pc7 .owl-theme .owl-buttons .owl-prev,.pc7 .owl-theme .owl-buttons .owl-next {background: url(http://source.aigegou.com/img/pc_q.png) 0 0 no-repeat;width:59px;height:59px;left:-290px;top:0;margin:-50% 0 0;}
.pc7 .owl-theme .owl-buttons .owl-next {background-position:-70px 0;left: auto;right:-290px;}
.pc7 .owl-theme .owl-buttons .owl-prev:hover{background-position:-140px 0 }
.pc7 .owl-theme .owl-buttons .owl-next:hover{background-position:-210px 0 }
.pc7 .photo_text {padding-top:46px;font-size:1.3rem !important;font-size:13px;}
.pc7 .m-oc{display:none;}
/*****download.html*****/
.dl_banner {background:#56d0b5;padding:190px 0 0;height:460px;background:#56d0b5;width:100%;}
.banner_c {width:1200px;margin:0 auto;position:relative;}
.banner_c .dl_logo {border-bottom:#b7ebdf solid 1px;width:550px;padding-bottom:27px;}
.banner_c h2 {font-size:3.6rem !important;font-size:36px;letter-spacing:4px;color:#fff;padding-top:26px;}
.banner_c p {font-size:2.3rem !important;font-size:23px;letter-spacing:3px;color:#fff;padding:18px 0 50px;}
.banner_c .banner_btn a{display:inline-block;width:145px;height:40px;background:#3b3b3b;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;margin-right:18px;color:#fff;text-align:center;font-size:1.4rem !important;font-size:14px;line-height:40px;}
.banner_c .banner_btn span{display:inline-block;vertical-align:middle;width:18px;height:18px;}
.banner_c .banner_btn span.btn1 {background:url(http://source.aigegou.com/img/dl_btn1.png) no-repeat;}
.banner_c .banner_btn span.btn2 {background:url(http://source.aigegou.com/img/dl_btn2.png) no-repeat;}
.banner_c .banner_ph1 {position:absolute;width:265px;height:516px;right:266px;top:20px;}
.banner_c .banner_ph2 {position:absolute;width:305px;height:598px;right:76px;top:-20px;}
.dl_c {padding:200px 0 0;}
.dl_con {width:1100px;margin:0 auto;position:relative;}
.dl_con .dl_img{position:absolute;top:0;}
.dl_con .dl_text h4{font-size:3.2rem !important;font-size:32px;font-weight:normal;color:#333333;padding-bottom:18px;}
.dl_con .dl_text p {font-size:2.0rem !important;font-size:20px;line-height:3.0rem !important;line-height:30px;color:#888888;}
.dl1 {padding:166px 0 330px;}
.dl1 .dl_text{padding-left:544px;}
.dl1 .dl_img {left:64px;}
.dl2 {padding:56px 0 240px;}
.dl2 .dl_img {right:-64px;}
.dl3 {padding:174px 0 290px;}
.dl3 .dl_text {padding-left:594px;}
.dl3 .dl_img {left:32px;}
.dl4 {padding:60px 0 200px;}
.dl4 .dl_img {right:0;}
.dl5 {width:980px;margin:0 auto;background:url(http://source.aigegou.com/img/dl_img5.png) center 106px no-repeat;}
.dl5 ul{width:100%;text-align:center;}
.dl5 ul li {width:106px;height:106px;display:inline-block;margin: 0 25px;font-size:2.8rem !important;font-size:28px;line-height:106px;color:#fff;}
.dl5 ul li span {-moz-border-radius:50%; -webkit-border-radius:50%; border-radius:50%;display:inline-block;width:100%;height:100%;}
.dl5 ul li.color1 span {background:#56d0b5;}
.dl5 ul li.color2 span {background:#78d9c4;}
.dl5 ul li.color3 span {background:#88decb;}
.dl5 dl {height:670px;position:relative;padding-bottom:54px;}
.dl5 dl dd {position:absolute;width:428px;}
.dl5 dd h4 {font-size:2.4rem !important;font-size:24px;color:#333333;font-weight:normal;padding-bottom:10px;}
.dl5 dd p {font-size:1.5rem !important;font-size:15px;color:#888888;}
.dl5 dl dd.p1,.dl5 dl dd.p3,.dl5 dl dd.p5 {text-align:right;left:0;}
.dl5 dl dd.p2,.dl5 dl dd.p4 {text-align:left;left:556px;}
.dl5 dl dd.p1 {top:74px;}
.dl5 dl dd.p2 {top:140px;}
.dl5 dl dd.p3 {top:200px;}
.dl5 dl dd.p4 {top:260px;}
.dl5 dl dd.p5 {top:324px;}
.dl5 dt {position:absolute;top:450px;left: 0;width:100%;height:220px;text-align:center;}
.dl5 dt .code{display:block;border:#9ae3d3 solid 3px;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;padding:3px 4px 3px 5px;margin:0 auto 20px;width:155px;height:158px; background:#fff; }
.dl5 dt span{width:98px;height:30px;background:#56d0b5;font-size: 1.4rem !important;font-size:14px;line-height:30px;color:#fff;-moz-border-radius:14px; -webkit-border-radius:14px; border-radius:14px;display:inline-block;}
/*****about.html*****/
.ab_banner {background:url(http://source.aigegou.com/img/about_banner.jpg) center center no-repeat;width:100%;height:650px;position:relative;}
.ab_banner .ab_logo {position:absolute;left:50%;top:50%;margin:-97px 0 0 -118px;width:207px;height:227px;}
.ab_banner .m_ab_logo {display:none;position:absolute;left:50%;top:50%;margin:-97px 0 0 -118px;width:207px;height:227px;}
.about_nav {position:absolute;width:100%;height:40px;background:rgba(12,12,17,0.7);background:#000 \0;left:0;top:610px;z-index:99;}
.about_nav ul {width:1200px;margin:0 auto;height:40px;text-align:center;}
.about_nav ul li {width:240px;display:inline-block;line-height:40px;font-size:1.3rem !important;font-size:13px;text-align:center;}
.about_nav ul li a {color:#fff; display:block;}
.about_nav ul li.on a{background:#b62e18;}
.ab_c {background:#f6f6f6;padding-bottom:70px;}
.ab_cbox {width:1200px;background:#fff;margin:0 auto;-webkit-box-shadow:0 0 1px rgba(0,0,0,0.2);-moz-box-shadow:0 0 1px rgba(0,0,0,0.2);box-shadow:0 0 1px rgba(0,0,0,0.2);}
.ab_c1,.ab_c2,.ab_c3 {padding:90px 0 70px;border-bottom:#eee solid 1px;}
.ab_title {width:136px;padding-top:12px;height:58px;text-align:center;margin:0 auto 56px;font-size:1.9rem !important;font-size:19px;letter-spacing:1px;}
.ab_title p {font-size:1rem !important;font-size:10px; -webkit-transform: scale(0.83);-o-transform: scale(1);letter-spacing: 0;padding-top:4px;}
.ab_c1 .ab_title{border:#000000 solid 1px;color:#000000;}
.ab_c1 .ab_text h5{color:#000;width:480px;margin:0 auto;padding:10px 0 20px;font-size:1.6rem !important;font-size:16px;line-height:24px;font-weight:normal;letter-spacing:1px;}
.ab_c1 .ab_text p{width:650px;font-size:1.4rem !important;font-size:14px;line-height:24px;margin:0 auto;}
.ab_c2 .ab_title{border:#299ad5 solid 1px;color:#299ad5;}
.ab_c2 .ab_img {text-align:center;}
.ab_c3 .ab_title{border:#af25cd solid 1px;color:#af25cd;}
.ab_c3 .ab_title p{letter-spacing:2px;}
.ab_c3  {padding-bottom:70px;}
.ab_c3 dl {width:360px;margin:0 auto;}
.ab_c3 dl dt {color:#af25cd;font-size:1.4rem !important;font-size:16px;line-height:24px;padding:40px 0 10px;}
.ab_c3 dl dd {font:1.4rem !important;font-size:14px;line-height:24px;height:24px;}
.ab_c3 dl dd span {float:right;display:block;}
.ab_c3 dl dd a {color:#af25cd;float:right;display:block;}
.ab_c3 dt span {display:inline-block;width:18px;height:20px;margin-right: 10px;vertical-align:middle;}
.ab_c3 dt span.ph{background:url(http://source.aigegou.com/img/about_icon1.png)  no-repeat;background-size:100%;}
.ab_c3 dt span.map{background:url(http://source.aigegou.com/img/about_icon2.png) no-repeat;background-size:100%;}
.ab_c3 dt span.email{background:url(http://source.aigegou.com/img/about_icon3.png) no-repeat;background-size:100%;}



.ab_map {width:100%;height:1px;position:relative;}
.ab_map .map-box {left:50%;margin-left:-518px;position:absolute;bottom:278px;width:1036px;height:496px;background:#fff;border:red solid 2px;padding:0;-moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;display:none;}
.ab_map .map-box .arrow {position:absolute;right:364px;bottom:-16px;width:18px;height:16px;background:url(http://source.aigegou.com/img/arrow_bg.png) center bottom no-repeat;}



/****activity.html***/
.at_nav {margin:0 auto;width:362px;padding-top:60px;height:32px;text-align:center;}
.at_nav ul {width:362px;height:32px;font-size:0;border:#b62e18 solid 1px;-moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;}
.at_nav li {display:inline-block;width:120px;height:32px;border-right:#b62e18 solid 1px;font-size:1.3rem !important;font-size:13px;line-height:32px;color:#b62e18;cursor:pointer;}
.at_nav li:last-child {border:0;}
.at_nav li:hover {background:#F4D3CD;}
.at_nav li.on {background:#b62e18;color:#fff;}
.at_box {width:1010px;padding:50px 0 80px;margin:0 auto}
.at_box ul {overflow:hidden;}
.at_box ul li {display:block;vertical-align:top;float:left;margin:5px;overflow:hidden;position:relative;}
.at_box ul li.box1{width:495px;height:495px;background:#93e451;}
.at_box ul li.box2{width:495px;height:242.5px;background:#f77b28;}
.at_box ul li.box3{width:242.5px;height:242.5px;background:#4189ea;}
.at2,.at3 {display:none;}
.at_box li .title{position:absolute;width:100%;height:40px;bottom:-40px;left:0;}
.at_box li .title_bg {display:block;height:40px;background:#000;filter:alpha(opacity=0.6);-moz-opacity:0.6;opacity:0.6;}
.at_box li .title_t {position:absolute;top:0;left:10px;line-height:40px;color:#fff;font-size:1.4rem !important;font-size:14px;}
/*****join.html*****/
.ab_c4 {background:url(http://source.aigegou.com/img/join_bg.png) center bottom no-repeat;padding:90px 0;}
.ab_c4 .ab_title{border:#000000 solid 1px;color:#000000;margin:0 auto;}
.ab_c4 .ab_title p{letter-spacing:10px;padding-left:7px;}
.ab_c4 .ab_text{text-align:center;font-size:1.5rem !important;line-height:40px;color:#000;padding:25px 0 84px;}
.ab_c4 dl{width:730px;margin:0 auto;}
.ab_c4 ul{font-size:0;}
.ab_c4 dl dt {background:#d03031;height:40px;padding:0 20px;}
.ab_c4 dl dd {padding:0 20px;color:#333;cursor:pointer;}
.ab_c4 dl dd.bgc {background:#fff7f7;}
.ab_c4 dl li {display:inline-block;}
.ab_c4 dt li {font-size:1.4rem !important;font-size:14px;line-height:40px;color:#fff;height:44px;vertical-align:top;overflow:hidden;}
.ab_c4 dd li {font-size:1.4rem !important;font-size:14px;line-height:44px;height:44px;vertical-align:top;  text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.ab_c4 dl li.w1 {width:36%;}
.ab_c4 dl li.w2 {width:32%;}
.ab_c4 dl li.w3 {width:32%;text-align:right;}
.ab_c4 .join {padding:15px 0 20px;}
.ab_c4 .jm {color:#b62e18;font-size:1.6rem !important;font-size: 16px;padding-bottom:8px;font-weight:bold;}
.ab_c4 .jm span {float:right;font-size:1.3rem !important;font-size:13px;color:#888;font-weight:normal;}
.ab_c4 h4{padding:20px 0 0;}
.ab_c4 p,.ab_c4 h4 {font-size:1.4rem !important;font-size:14px;line-height:28px;}
.ab_c4 .join {display:none;-webkit-animation-name: fadeIn;-webkit-animation-duration:1.5s;}
.ab_c4 .join_btn {padding-top:14px;}
.ab_c4 .join_btn a {display:inline-block;width:98px;height:28px;font-size:1.4rem !important;font-size:14px;line-height:28px;-moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;border:#b62e18 solid 1px;color:#b62e18;text-align:center;}

.firstMenuli{position:relative; top:0px; left:0px;}

.secMenuUl{position:absolute; top:40px; left:0px;width:90px; padding:0px !important; /*height:0px; */overflow:hidden; background-color:#C00; border-bottom-left-radius:5px;border-bottom-right-radius:5px;box-shadow:0 2px 2px rgba(0, 0, 0, 0.15); display:none;}
.secMenuUl span{ display:block; height:35px; line-height:35px; text-align:center; background-color:#fff; border-bottom:#efefef solid 1px;}
